.swiper_testi {
  width: 100%;
  height: 100%;
}

.swiper-slide_testi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  margin-top: 3rem !important;
  position: relative !important;
}
.swiper-pagination-bullet-active {
  background: #b9a03c !important;
}
